name: CI

on: [push]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', '3.14t', 'pypy3.11']
        requirements: [test-requirements.txt]
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: ${{ matrix.requirements }}
      # TODO: unpinned "latest" build
      - run: pip install . -r ${{ matrix.requirements }}
      - run: make test lint
